In [1]:
#import pandas library
import pandas as pd

In [2]:
#import csv
adidas = pd.read_csv('Adidas US Sales.csv')
adidas.head()

,sales_id,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,1,Foot Locker,1185732,2021-11-06,Southeast,South Carolina,Charleston,Men's Street Footwear,50,278,13900,792,Online
1,2,Foot Locker,1185732,2020-03-14,Northeast,New York,New York,Men's Apparel,46,278,12788,435,Outlet
2,3,West Gear,1128299,2021-01-19,West,California,San Francisco,Men's Athletic Footwear,47,278,13066,287,Outlet
3,4,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,103,218,22454,1257,Online
4,5,Sports Direct,1197831,2021-09-14,South,Alabama,Birmingham,Women's Street Footwear,36,278,10008,530,Outlet

In [3]:
#check dataset dimension
adidas.shape

(9637, 13)

In [4]:
#inspect structure of dataset
adidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9637 entries, 0 to 9636
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sales_id          9637 non-null   int64
 1   retailer          9637 non-null   object
 2   retailer_id       9637 non-null   int64
 3   invoice_date      9637 non-null   object
 4   region            9637 non-null   object
 5   state             9637 non-null   object
 6   city              9637 non-null   object
 7   product           9637 non-null   object
 8   price_per_unit    9637 non-null   int64
 9   units_sold        9637 non-null   int64
 10  total_sales       9637 non-null   int64
 11  operating_profit  9637 non-null   int64
 12  sales_method      9637 non-null   object
dtypes: int64(6), object(7)
memory usage: 978.9+ KB

In [5]:
#inspect column name
adidas.columns

Index(['sales_id', 'retailer', 'retailer_id', 'invoice_date', 'region',
       'state', 'city', 'product', 'price_per_unit', 'units_sold',
       'total_sales', 'operating_profit', 'sales_method'],
      dtype='object')

In [6]:
#drop irrelevant colummn
adidas.drop(['sales_id','retailer_id', 'sales_method', 'city', 'operating_profit'], axis= 1, inplace= True)
adidas.columns

Index(['retailer', 'invoice_date', 'region', 'state', 'product',
       'price_per_unit', 'units_sold', 'total_sales'],
      dtype='object')

In [8]:
#check for null in dataset
adidas.isnull().sum()

retailer          0
invoice_date      0
region            0
state             0
product           0
price_per_unit    0
units_sold        0
total_sales       0
dtype: int64

In [12]:
#check duplicate value in dataset
adidas.duplicated().sum()

0

In [13]:
#convert clean dataset to csv 

adidas.to_csv('Adidas US Sales2.csv', index=False)

In [15]:
adidas.head()

,retailer,invoice_date,region,state,product,price_per_unit,units_sold,total_sales
0,Foot Locker,2021-11-06,Southeast,South Carolina,Men's Street Footwear,50,278,13900
1,Foot Locker,2020-03-14,Northeast,New York,Men's Apparel,46,278,12788
2,West Gear,2021-01-19,West,California,Men's Athletic Footwear,47,278,13066
3,Walmart,2021-06-17,Southeast,Florida,Women's Apparel,103,218,22454
4,Sports Direct,2021-09-14,South,Alabama,Women's Street Footwear,36,278,10008